.home-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}


.temperature-card {
    .climate-info {
        border-radius: 5px;
        font-size: smaller;
        background-color: rgba(217, 217, 217, 0.1);
        text-align: center;
    }
}

.humidity-card {
    .climate-info {
        border-radius: 5px;
        font-size: smaller;
        background-color: rgba(217, 217, 217, 0.1);
        text-align: center;
    }
}